.pericias {
  text-align: center;
  height: 100%;
}

.pericia_content {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.pericia_content input {
  text-align: center;
}

.pericia_content select {
  line-height: 2.2em;
}

.tdsoma {
  border-radius: 10em;
  height: 2em;
  width: 2em;
}

.soma p {
  color: var(--white);
}

@media (max-width: 1050px) {
  .soma {
    line-height: 2em;
  }
}
