@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap");
@font-face {
  font-family: "Abibas";
  src: url("/assets/fonte/Abibas.otf") format("opentype"),
    url("/assets/fonte/Abibas.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-1: #d9d9d9;
  --color-2: #b5b5b5;
  --color-3: #414141;
  --color-4: #555555;
  --bg: #efefef;
  --title-color: #efefef;
  --text-color: #292929;
  --text-color_1: #efefef;
  --white: #fff;
}

.dark_mode {
  --color-1: #333;
  --color-2: #444;
  --color-3: #1b1b1b;
  --color-4: #141414;
  --bg: #101010;
  --title-color: #ababab;
  --text-color: #adadad;
  --white: #e8e8e8;
}
