.personagem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  width: 100%;
  padding-top: 2em;
}

.sobre_personagem {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.informacoes_status {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.div_inf_stat {
  display: flex;
  gap: 10px;
}

.informacoes_perso {
  width: 100%;
}

.content_perso {
  display: flex;
  gap: 7px;
  flex-direction: column;
  margin: 0.5em;
}

.inf_item {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 700;
}

.status {
  width: 100%;
}

.status_content {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.if_status {
  display: flex;
  align-items: center;
}

.status .title_content,
.resistencia .title_content,
.atributos .title_content {
  height: 3em;
  transform: translateY(0px);
}

.status .title_content::before,
.resistencia .title_content::before,
.atributos .title_content::before {
  background-size: auto 4.1em;
}

.status .title_content {
  width: 6em;
}

.resistencia .title_content {
  width: auto;
  padding: 0 1em;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 0.5em;
}

.content input {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  font-weight: 700;
}

.res_defesa {
  position: relative;
  color: var(--color-2);
  font-size: 35px;
}

.res_defesa_txt {
  position: absolute;
}

.carac_personagem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.caracteristica {
  height: 13em;
  font-weight: 400;
  position: relative;
}

.caracteristica textarea {
  position: absolute;
  inset: 0;
  margin: 3.3em 1em 1em 1em;
}

.resistencia_foto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 44em;
}

.resistencia {
  display: flex;
  align-items: center;
}

.resistencia input {
  margin: 0.5em;
  width: 100%;
}

.imagem_perso {
  width: 100%;
  min-height: 22em;
  height: 100%;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  box-sizing: border-box;
}

.imagem_perso img {
  height: auto;
  max-width: 100%;
  display: flex;
  padding: 0.5em;
  align-items: center;
  justify-content: center;
}

.imagem_perso input {
  display: none;
}

.imagem_perso .icon {
  font-size: 30px;
}

.imagem_perso .custom_file_upload {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  position: absolute;
  overflow: hidden;
  inset: 0;
  margin: 0;
  max-width: 100%;
  margin: 1em;
  border: 2px dashed var(--color-3);
  border-radius: 10px;
  cursor: pointer;
  transition: background ease-in-out 0.5s;
}

.custom_file_upload:hover {
  border: 2px dashed var(--color-4);
  background-color: rgba(129, 129, 129, 0.2);
}

.degrade {
  font-weight: 600;
  position: absolute;
  transform: translateY(0.5em);
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 0.3em 10em 0.3em 1em;
  justify-content: center;
  color: var(--white);
  background: rgb(255, 0, 0);
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 0, 0, 0.5) 0%,
    rgba(255, 0, 0, 0.5) 50%,
    rgba(255, 0, 0, 0) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 0, 0, 0.5) 0%,
    rgba(255, 0, 0, 0.5) 50%,
    rgba(255, 0, 0, 0) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 0.5) 0%,
    rgba(255, 0, 0, 0.5) 50%,
    rgba(255, 0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#ff0000",GradientType=1);
  animation: fade 2s infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.atri_peri {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

.atributos {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.atributos input {
  width: calc(100% - 1em);
  font-size: 17px;
  margin: 0.5em;
  text-align: center;
  font-weight: 700;
}

.pericias {
  text-align: center;
  height: 100%;
}

.pericia_content {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.2em;
  height: 32.5em;
}

.pericia_content input {
  text-align: center;
  height: 2.2em;
}

.thPer {
  width: 16em;
}

.tdsoma {
  background-color: var(--color-3);
  border-radius: 10em;
  position: relative;
  height: 2em;
  width: 2em;
  display: block;
}

.tdsoma p {
  line-height: 2.2em;
  position: absolute;
  color: var(--white);
  left: 0;
  right: 0;
}

/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */

@media (max-width: 1050px) {
  .personagem hr {
    height: 1em;
    margin: 0em 0.5em;
  }

  .personagem label {
    font-size: 9px;
  }

  .resistencia_foto {
    width: auto;
  }

  .imagem_perso img {
    width: 100%;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .personagem input:focus {
    outline: none;
  }

  .personagem input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .status input {
    max-width: 4em;
  }

  .status p {
    font-size: 15px;
  }

  .div_inf_stat {
    width: 100%;
  }

  .personagem {
    flex-direction: column;
  }

  .resistencia {
    width: auto;
  }

  .resistencia input {
    width: 100%;
  }

  .imagem_perso .icon {
    font-size: 30px;
  }

  .custom_file_upload:hover {
    border: 2px dashed var(--color-4);
    background-color: rgba(129, 129, 129, 0.2);
  }

  .sobre_personagem {
    flex-direction: column;
  }

  .content_perso {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin: 0.5em;
  }

  .status {
    width: 100%;
  }

  .status .title_content,
  .resistencia .title_content {
    width: 6em;
    height: 3.3em;
    transform: translateY(0px);
    background-image: url("/assets/bgTitle.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 4.6em;
  }

  .resistencia .title_content {
    width: auto;
  }

  .atri_peri {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .atributos {
    width: 100%;
  }

  .soma {
    height: 3em;
    width: 3em;
    line-height: 3em;
  }
}
