.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.formStyled {
  width: 100%;
  max-width: 500px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 10px 20px 0px rgb(0, 0, 0);
}

.content {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  padding: 1em;
  
}

.textRedirect{
  text-align: center;
  font-weight: 200;
}
.textRedirect a {
  color: var(--green);
}
.textRedirect a:hover {
  color: var(--green-hover);
  text-decoration: underline;
}