.remove_item {
  text-align: center;
  color: var(--title-color);
  background-color: var(--color-3);
  border-radius: 100%;
  margin: 0;
  height: 1em;
  width: 1em;
  border: none;
  cursor: pointer;
  font-size: 27px;
  vertical-align: middle;
  transition: background ease-in-out 0.5s;
}

.remove_item:hover {
  background-color: var(--color-4);
}
