.habilidades {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.divhab {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    height: 40em;
    width: 100%;
}

.titleCamp {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--white);
    font-size: 15px;
    padding: 1em;
    background-color: var(--color-3);
    border-radius: 0;
}

.camposHab {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; 
    height: 100%;
}

.campoHab {
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.itemCampoHab{
    display: flex;
    align-items: center;
    padding: .5em;
}

.campHab_content {    
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27em;
    height: 35em;
}

.tituloHab{
    background: none;
    padding: 0em;
    border-radius: 0px;
    border-bottom: 1px solid;
    width: calc(100% - 3.5em);
    margin-bottom: .4em;
}

#Campo3Hab, #Campo4Hab{
    text-align: center;
    width: 100%;
    padding: 0 1em;
}

.setaVira::before{
    transform: scaleY(-1);
}

.campoHabAberto {
    margin: 0 1em;
    width: 24.6em;
    overflow-y: hidden;
}
