
@media (max-width: 1150px) {
    .campHab_content{
        width: auto;
    }

    .campoHabAberto{
        width: calc(100% - 4em);
    }

    .divhab{
        flex-direction: column;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 1050px) {
    hr {
        height: 1em;
        margin: 0em .5em;
    }
    label {
        font-size: 9px;
    }

    .imagem_perso img {
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    #imagemContainer {
        width: auto;
        max-width: 100%;
    }

    input:focus{
        outline: none;
    }
    
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    .status input{
        max-width: 2em;
    }

    .status .title_content{
        padding: 1.5em 0;
    }
    .status p {
        font-size: 15px;
    }

    .title_content{
        font-size: 12px;
    }
    .div-inf_stat{
        width: 100%;
    }
    .personagem{
        flex-direction: column;
    }
    
    .custom-file-upload {
        width: 100%;
    }

    .inf_item input{
        width: calc(100% - 1em);
    }

    .sobre_personagem{
        flex-direction: column;
    }
    .content_perso {
        display: flex;
        gap: 10px;
        flex-direction: column;
        margin: .5em;
    }
    .status{
        width: 100%;
    }
    .atributos{
        width: 100%;
    }
    .soma {
        height: 3em;
        width: 3em;
        line-height: 3em;
    }
    .TUDOinventario{
        flex-direction: column;
    }

    .carga_prof, .vest_def, .atri_peri, .resistencia_foto{
        width: 100%;
    }

    .campHab_content{
        width: auto;
    }

    .campoHabAberto{
        width: calc(100% - 4em);
    }

    .divhab{
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .ciacaoficha{
        flex-direction: column;
        gap: 3em;
    }

    .ciacaoficha img{
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .botaoMensagem{
        font-size: 15px;
    }
}

@media (max-width: 408px) {    
.imagem_perso img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#imagemContainer {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}
    
}